.idea/
__pycache__/
*.pyc
*.pyo
.DS_Store

# Virtual Environment
.venv/

# Local Audio Library (Do not upload generated wavs)
audio_cache/

# text bck
# bcktxt/

# Model files (if any are downloaded locally)
*.pth
*.json
!zb_poatharry.json
!manifest.json